<div *ngIf="person" class="wrapper">
  <h2>Пользователь {{person.username | uppercase}}</h2>
  <div><span>id: </span>{{person.id}}</div>
  <div>
    <label>Фамилия:
      <input [(ngModel)]="person.lastName"/>
    </label>
  </div>
  <div>
    <label>Имя:
      <input [(ngModel)]="person.firstName"/>
    </label>
  </div>
  <div>
    <label>Отчество:
      <input [(ngModel)]="person.secondName"/>
    </label>
  </div>
  <div>
    <label>Ранг:
      <input [(ngModel)]="person.degree"/>
    </label>
  </div>
  <div *ngFor="let role of person.userRoles; let i = index" [attr.data-index]="i">

    <div>{{role.name}}</div>
  </div>
<div class="">
  <button (click)="addAdminRole()">addAdminRole</button>
  <button (click)="addInstructorRole()">addInstrRole</button>
  <button (click)="addStudentRole()">addStudentRole</button>
  <button (click)="addParentRole()">addParentRole</button>
</div>
  <div class="">
    <button (click)="removeAdminRole()">removeAdminRole</button>
    <button (click)="removeInstructorRole()">removeInstrRole</button>
    <button (click)="removeStudentRole()">removeStudentRole</button>
    <button (click)="removeParentRole()">removeParentRole</button>
  </div>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
