<div *ngIf="person" class="wrapper">
  <div class="wrapper_title">Изменить данные</div>
  <div class="wrapper_field">
    <div class="wrapper_field_label">Фамилия</div>
    <div class="wrapper_field_input"><input [(ngModel)]="person.lastName"/></div>
  </div>
  <div class="wrapper_field">
    <div class="wrapper_field_label">Имя</div>
    <div class="wrapper_field_input"><input [(ngModel)]="person.firstName"/></div>
  </div>
  <div class="wrapper_field">
    <div class="wrapper_field_label">Отчество</div>
    <div class="wrapper_field_input"><input [(ngModel)]="person.secondName"/></div>
  </div>
  <div class="wrapper_field">
    <div class="wrapper_field_label">Роль</div>
    <div class="wrapper_field_input">
      <mat-checkbox (click)="!studentChecked ? addStudentRole() : removeStudentRole()" [(ngModel)]="studentChecked">Ребёнок</mat-checkbox>
      <mat-checkbox (click)="addRoles()" [(ngModel)]="parentChecked">Родитель</mat-checkbox>
      <mat-checkbox (click)="addRoles()" [(ngModel)]="trainerChecked">Тренер</mat-checkbox>
      <mat-checkbox (click)="addRoles()" [(ngModel)]="adminChecked">Администратор</mat-checkbox>
    </div>
  </div>
  <div class="wrapper_buttons">
    <div class="wrapper_buttons_button" (click)="goBack()">Отмена</div>
    <div class="wrapper_buttons_button" (click)="save()">Подтвердить</div>
  </div>
</div>

