<div class="month">

  <div class="month-header">
    <div class="month-header__back">
      <a class="month-header__back_inner" routerLink="../../">Назад</a>
    </div>
    <div class="month-header__title">
      <div class="month-header__left-arrow">
        <img class="month-header__left-arrow_img" src="../assets/images/elements/left-arrow.svg"
             [routerLink]="getMonthLink(-1)">
      </div>
      <div class="month-header__number">
        <h3 class="month-header__number_inner">{{getMonth()}} {{year}}</h3>
      </div>
      <div class="month-header__right-arrow">
        <img class="month-header__right-arrow_img" src="../assets/images/elements/right-arrow.svg"
             [routerLink]="getMonthLink(1)">
      </div>
    </div>
    <div class="month-header__document" *ngIf="type !== 'timetable' && (role === 'student' || role === 'parent')">
      <h3 class="month-header__document_inner" (click)="createDocumentAttend()">Создать справку</h3>
    </div>
  </div>

  <div class="month-calendar">
    <div class="month-calendar__row" *ngFor="let row of dayRows; let i = index">
      <div class="month-calendar__day" *ngFor="let day of dayRows[i]; let j = index"
           [ngClass]="j === 6 ? 'month-calendar__sunday' : ''">
        <app-month-part-day-student *ngIf="dayRows[i][j] !== 0 && (role === 'student' || role === 'parent')"
                            [title]="dayRows[i][j] === 0 ? 0 : dayRows[i][j]"
                            [lessons]="lessons" [type]="type"></app-month-part-day-student>

<!--        write your days for INSTRUCTOR and ADMIN here-->
      </div>
    </div>
  </div>

</div>
