.details {
  &-inner {
    display: flex;
    flex-direction: column;
    width: 720px;
    background: #172755;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
    margin: 51px auto;
    align-items: center;
  }

  &-title {
    .text;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    margin: 0 50px;

    &__context_students{
      margin: 0 0 20px;
    }

    &__item {
      display: flex;
      flex-direction: row;
      width: 400px;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 45px;
      & .title {
        .text;
        .title;
      }
    }
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 34px;
  }

  &-style-line {
    width: 620px;
    height: 2px;
    background: #FFFFFF;
    margin: 30px 0;
  }
}

.item-student {
  .text;
}

.button-click {
  &__button {
    .text;
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

& .reject {
  margin-left: 85px;
}

& .save {
  margin-right: 85px;
}

.title {
  width: 180px;
  margin-right: 40px;
  justify-content: center;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 150%;
  color: #EEEEF7;
  margin: 0;
}
