<div class="details-inner">

  <p class="details-title text">{{'Группа 1'}}</p>

  <div class="details-style-line"></div>

  <div class="details-body">
    <p class="text title">Инструктор</p>
    <div class="body details-persons">
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
    </div>
  </div>

  <div class="details-body">
    <p class="text title">Ученики</p>
    <div class="body details-persons">
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
    </div>
  </div>

  <div class="details-body">
    <p class="text title">Расписание</p>
    <div class="body details-timetable">
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
    </div>
  </div>

  <div class="details-style-line"></div>

  <div class="details-buttons">
    <form class="button-click">
      <button class="button-click__button reject" (click)="reject()">Отмена</button>
    </form>
    <form class="button-click">
      <button class="button-click__button create" (click)="create()">Создать</button>
    </form>
    <form class="button-click">
      <button class="button-click__button save" (click)="save()">Сохранить</button>
    </form>
  </div>

</div>
