<div class="details-inner">

  <p class="details-title">{{'Группа 1'}}</p>

  <div class="details-style-line"></div>

  <div class="details-body">
    <div class="details-body__section">
      <p class="details-body__section title">Инструктор</p>
      <app-drop-down-list class="details-body__context instructor" [list]="listCopy" [type]="d.typeOfListWorking.show">
      </app-drop-down-list>
    </div>

    <div class="details-body__section">
      <p class="details-body__section title">Ученики</p>
      <div class="details-body__context">
        <div class="details-body__context_added" *ngIf="addedStudents.length !== 0">
          <div class="details-body__item" *ngFor="let student of addedStudents">
            <p class="item-student">{{student}}</p>
            <img src="assets/images/elements/delete.svg" (click)="deleteStudent(student)">
          </div>
        </div>
        <app-drop-down-list class="details-body__context_students" [list]="list" [type]="d.typeOfListWorking.addShow"
                            (add)="addStudent($event)">
        </app-drop-down-list>
      </div>
    </div>

    <div class="details-body__section">
      <p class="details-body__section title">Расписание</p>
      <div class="details-body__context timetable">
      </div>
    </div>
  </div>

  <div class="details-style-line"></div>

  <div class="details-buttons">
    <form class="button-click">
      <button class="button-click__button reject" (click)="reject()">Отмена</button>
    </form>
    <form class="button-click">
      <button class="button-click__button create" (click)="create()">Создать</button>
    </form>
    <form class="button-click">
      <button class="button-click__button save" (click)="save()">Сохранить</button>
    </form>
  </div>

</div>

