<div class="details-inner">

  <p class="details-title">{{'Группа 1'}}</p>

  <div class="details-style-line"></div>

  <div class="details-body">
    <div class="details-body__section">
      <p class="details-body__section title">Инструктор</p>
      <app-drop-down-list class="details-body__context instructor" [list]="list" [type]="d.typeOfListWorking.show">
      </app-drop-down-list>
    </div>

    <div class="details-body__section">
      <p class="details-body__section title">Ученики</p>
      <app-drop-down-list class="details-body__context students" [list]="list" [type]="d.typeOfListWorking.addShow"
                          (add)="addStudent($event)">
      </app-drop-down-list>
    </div>

    <div class="details-body__section">
      <p class="details-body__section title">Расписание</p>
      <div class="details-body__context timetable">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
      </div>
    </div>
  </div>

  <div class="details-style-line"></div>

  <div class="details-buttons">
    <form class="button-click">
      <button class="button-click__button reject" (click)="reject()">Отмена</button>
    </form>
    <form class="button-click">
      <button class="button-click__button create" (click)="create()">Создать</button>
    </form>
    <form class="button-click">
      <button class="button-click__button save" (click)="save()">Сохранить</button>
    </form>
  </div>

</div>

