<div class="reset">
  <h1 class="reset__header">Восстановление пароля</h1>
  <div class="reset__img">
    <img src="assets/images/icons/main__icon-recovery.svg" alt="icon">
  </div>
  <div class="reset__form">
    <form name="form" (ngSubmit)="resetPassword(f)" #f = "ngForm" novalidate>
      <div class="reset__form-group">
        <input type="email" id="email" name="email" [(ngModel)]="form.email" required email
               #email="ngModel" placeholder="Почта">
      </div>
      <div *ngIf="f.submitted && email.invalid" class="reset__error">
      * Введите корректный e-mail
      </div>
      <div class="reset__form-group">
          <input type="submit" value="Восстановить" class="reset__submit">
      </div>
    </form>
  </div>
</div>
