<header class="header">
  <div class="header__nav">
    <app-logo></app-logo>
    <nav class="nav">
      Главная<br>
      Посещаемость<br>
      Справка<br>
      Группы<br>
      Материалы<br>
    </nav>

  </div>
  <div class="header__main">
    <div class="entry-block">
      <div class="entry-block__title">
        <p>{{username}}</p>
        <p>{{publicRoles}}</p>
      </div>
      <app-secondary-btn [title]="'Выйти'" (click)="signOut()"></app-secondary-btn>
    </div>
  </div>
</header>
