<header class="header">

  <div class="header__nav">
    <app-logo></app-logo>
    <nav class="nav">
      Главная<br>
      Посещаемость<br>
      Справка<br>
      Группы<br>
      Материалы<br>
    </nav>

  </div>
  <div class="header__main">
    <div class="entry-block">
      <div class="entry-block__title">
        <p>Петров Василий</p>
        <p>(ученик)</p>

      </div>
      <app-secondary-btn [title]="'Выйти'"></app-secondary-btn>

    </div>
    <app-cabinet-logo style="width: 100%"></app-cabinet-logo>

  </div>

</header>
