<div class="wrapper">
  <div>
    <label>Person name:
      <input #personName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(personName.value); personName.value=''">
      add
    </button>
  </div>
  <h1 class="title">Пользователи:</h1>
<ul class="persons">
  <li class="item" *ngFor="let person of persons">
    <a routerLink="/detail/{{person.id}}">
      <span class="badge">{{person.id}}</span> {{person.username}}
      </a>
    <button class="delete" class="delete person" (click)="delete(person)">Удалить</button>
  </li>
</ul>
</div>





