<app-page-header></app-page-header>
<router-outlet *ngIf="this.router.url.includes('detail')"></router-outlet>
<div class="wrapper" *ngIf="!this.router.url.includes('detail')">
  <div class="wrapper_title">
    <span class="wrapper_title_arrow" (click)="decrease()"><img src="assets/images/icons/arrow.svg" alt=""></span>
    {{currentPageRender()}} из {{length}}
    <span class="wrapper_title_arrow" (click)="increase()"><img src="assets/images/icons/arrow1.svg" alt=""></span>
  </div>
  <div class="wrapper_divider"><img src="assets/images/icons/divider.svg" alt=""></div>
<ul class="wrapper_persons">
  <li class="wrapper_persons_item" *ngFor="let person of chunks[currentChunk]">
    <div class="wrapper_persons_item_lastname">{{person.lastName + ' ' +  person.firstName?.slice(0, 1) + '.' + ' ' + person.secondName?.slice(0, 1) + '.'}}</div>
    <div class="wrapper_persons_item_degree">{{person.degree}}</div>
    <div class="wrapper_persons_item_icons">
      <img class="wrapper_persons_item_icons_icon" src="assets/images/icons/update.svg" alt="" routerLink="./detail/{{person.id}}">
      <img class="wrapper_persons_item_icons_icon" src="assets/images/icons/bucket.svg" alt="" (click)="delete(person)">
    </div>
  </li>
</ul>
</div>






