.wrapper{
  color: white;
  padding-left: 100px;
  padding-top: 90px;
}

.item{
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

.title{
  color: #EF2A82;
}

.item{
text-decoration: none;
}
