<div class="footer-inner">

  <div class="equalizer"></div>

  <div class="footer-title">
    <div class="footer-title__line"></div>
    <p class="footer-title__title">ФУДОСИН</p>
    <div class="footer-title__line"></div>
  </div>

  <div class="footer-links equalizer">
    <div class="footer-links__instagram">
      <a class="footer-links__instagram_link" href="https://www.instagram.com/fudoshin_samara/" target="_blank"><img
        class="footer-links__instagram_img" src="assets/images/elements/footer__icon_instagram.svg"></a>
    </div>
    <div class="footer-links__vk">
      <a class="footer-links__vk_link" href="https://vk.com/fudoshin" target="_blank"><img class="footer-links__vk_img"
                                                                                           src="assets/images/elements/footer__icon_vk.svg"></a>
    </div>
  </div>

</div>
