@import "src/assets/style/master";

.logo {
  display: flex;
  justify-content: space-between;

  &__img {
    background: @bg-logo;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    line-height: 39px;
    display: flex;

    img {
      margin: 0 auto;
    }
  }

  &__title {
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: white;
      text-transform: uppercase;
      margin-right: 40px;
    }
  }
}
