<div class="month">

  <div class="month-header">
    <div class="month-header__left-arrow">
      <img class="month-header__left-arrow_img" src="" [routerLink]="getMonthLink(-1)">
    </div>
    <div class="month-header__number">
      <h3 class="month-header__number_inner">{{getMonth()}} {{year}}</h3>
    </div>
    <div class="month-header__right-arrow">
      <img class="month-header__right-arrow_img" src="" [routerLink]="getMonthLink(1)">
    </div>
  </div>

  <div class="month-calendar">
    <div class="month-calendar__row" *ngFor="let row of dayRows; let i = index">
      <a class="month-calendar__day"
         [ngClass]="j === 6 ? 'month-calendar__sunday' : ''"
           *ngFor="let day of dayRows[i]; let j = index"
      [routerLink]="">{{dayRows[i][j] === 0 ? '' : dayRows[i][j]}}</a>
    </div>
  </div>

</div>
