<div class="login">
  <H1 class="login__header">С возвращением!</H1>
  <div class="login__img">
    <img src="/assets/images/icons/main__icon-log-in.svg" alt="icon">
  </div>
  <div class="login__form">
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="login__form-group">
        <Label for="username">username</Label>
        <input type="text" id="username" name="username" [(ngModel)]="form.username" required
               #username="ngModel" placeholder="Логин"/>
        <div *ngIf="f.submitted && username.invalid" class="login__error">
          * Введите логин
        </div>
      </div>
      <div class="login__form-group">
        <Label for="password">password</Label>
        <input type="password" id="password" name="password" [(ngModel)]="form.password" required minlength="6"
               #password="ngModel"
               placeholder="Пароль"/>
        <div *ngIf="f.submitted && password.invalid" class="login__error">
          <div *ngIf="password.errors?.required">
            * Нужно ввести пароль
          </div>
          <div *ngIf="password.errors?.minlength">
            Слишком короткий пароль
          </div>
        </div>
      </div>
      <div class="login__form-group">
        <div>
          <input type="submit" class="login__submit" value="Войти">
        </div>
        <div class="login__error">
          <div role="alert" *ngIf="f.submitted && isLoginFailed">
            Не получилось {{ errorMessage }}
          </div>
        </div>

      </div>

    </form>
  </div>
</div>

