<div class="main-inner">

  <div class="main-tabs">
    <div class="main-tabs__tab">
      <p class="main-tabs__tab_text" (click)="chooseDomain('Айкидо')">Айкидо</p>
    </div>
    <div class="main-tabs__tab">
      <p class="main-tabs__tab_text" (click)="chooseDomain('Джиу-Джитсу')">Джиу-Джитсу</p>
    </div>
    <div class="main-tabs__tab">
      <p class="main-tabs__tab_text" (click)="chooseDomain('Кобудо')">Кобудо</p>
    </div>
  </div>

  <div class="main-style-line"></div>

  <div class="main-groups">
    <div class="main-groups__row" *ngFor="let group of groups">
      <p class="main-groups__column name">{{group[0]}}</p>
      <p class="main-groups__column instructor">{{group[1]}}</p>
      <div class="main-groups__column buttons">
        <div class="button edit"><img src="assets/images/elements/edit-by-instructor.svg"></div>
        <div class="button delete"><img src="assets/images/elements/delete-by-instructor.svg"></div>
      </div>
    </div>
  </div>

  <div class="main-style-line"></div>

  <div class="main-buttons">
    <form class="button-click">
      <button class="button-click__button reject" (click)="reject()">Отмена</button>
    </form>
    <form class="button-click">
      <button class="button-click__button create" (click)="create()">Создать</button>
    </form>
    <form class="button-click">
      <button class="button-click__button save" (click)="save()">Сохранить</button>
    </form>
  </div>

</div>
